/* MARK HEADER */

.navigation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: min-content;
}

.navigation {
  display: flex;
  gap: 10px;
  padding: 5px 10px;
  border: 1px solid rgb(61, 59, 59);
  border-radius: 5px;
}

.navigation a {
  text-decoration: none;
  color: black;
}

.logo {
  filter: saturate(0%) brightness(0%);
  margin-left: 50px;
}

hr {
  height: 0.5px;
  border: 0 none;
  border-top: 1px solid #ccc;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.title-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
  margin-bottom: 50px;
}

#title-motto {
  font-weight: lighter;
  color: #a2acb4;
}

/* MARK MAIN */
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#main-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  flex-flow: row wrap;
}

.review-section {
  flex-basis: 57%;
  flex-grow: 0;
}

.slider img {
  max-width: 100%;
  max-height: 50%;
  border-radius: 8px;
}

.slider {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 20px 10px -10px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -20px;
}

.review-message {
  font-style: italic;
  color: rgb(174, 189, 196);
  margin: 15px 20px;
}

.review-profile {
  display: flex;
  gap: 30px;
  align-content: flex-end;
  margin: 20px 30px;
}

.review-profile div em {
  color: rgb(176, 187, 189);
}

.review-benefit {
  text-align: justify;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 5px 30px;
}

.message-us {
  flex-basis: 35%;
  flex-grow: 0;
  background-color: rgb(233, 236, 240);
  border-radius: 8px;
  padding: 12px 25px;
}

.form-header {
  margin: 20px 25px;
}

h5 {
  color: grey;
  font-weight: 200;
}

.input-message-us {
  display: flex;
  flex-direction: column;
  margin: 20px 25px;
}

.send-button {
  background-color: black;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 14px 0px;
  border-radius: 6px;
}

.send-button:hover {
  background-color: blue;
  cursor: pointer;
}

.text-input {
  padding: 10px;
}

select option:disabled {
  color: blue;
  font-weight: bold;
}

#package-title {
  background-color: rgb(233, 236, 240);
  text-align: center;
  height: 50%;
  line-height: 100px;
  width: 100%;
}

.package {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

.package-img {
  width: 50px;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 50px;
}

h6 {
  margin: 0px;
  margin-top: 5px;
}

/* MARK FOOTER */
#footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.call-button {
  background-color: black;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 3px;
  width: 200px;
  height: 50px;
  margin: 20px 0px 50px 0px;
}

.call-button:hover {
  background-color: blue;
  cursor: pointer;
}

.service-policy {
  display: flex;
  flex-direction: row;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  gap: 20px;
}
